# Network Configuration
SEPOLIA_RPC_URL=https://1rpc.io/sepolia

# Private Key (from servers.csv)
PRIVATE_KEY=your_private_key_here

# API Keys
ETHERSCAN_API_KEY=your_etherscan_api_key
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66

# Contract Addresses
VITE_CONTRACT_ADDRESS=0x405cA05ddb063ea9040BA956157F234c029B263A
VITE_ADMIN_ADDRESS=0x3c7fae276c590a8df81ed320851c53db4bc39916
VITE_DEPLOYER_ADDRESS=0xd24987c1eD5a09e1cA2E908f69D24230A3D135d0

# Gas Reporting
REPORT_GAS=true
